<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dzr.organization.OrganizationDetailsHolderMapper">
  <resultMap id="BaseResultMap" type="dzr.organization.entity.OrganizationDetailsHolder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_org_code" jdbcType="VARCHAR" property="parentOrgCode" />
    <result column="org_type" jdbcType="VARCHAR" property="orgType" />
    <result column="org_type_code" jdbcType="VARCHAR" property="orgTypeCode" />
    <result column="security_inner_code" jdbcType="VARCHAR" property="securityInnerCode" />
    <result column="free_shares_ratio" jdbcType="DOUBLE" property="freeSharesRatio" />
    <result column="parent_org_code_old" jdbcType="VARCHAR" property="parentOrgCodeOld" />
    <result column="parent_org_name" jdbcType="VARCHAR" property="parentOrgName" />
    <result column="hold_market_cap" jdbcType="DOUBLE" property="holdMarketCap" />
    <result column="holder_code" jdbcType="VARCHAR" property="holderCode" />
    <result column="total_shares" jdbcType="BIGINT" property="totalShares" />
    <result column="total_shares_ratio" jdbcType="DOUBLE" property="totalSharesRatio" />
    <result column="report_date" jdbcType="DATE" property="reportDate" />
    <result column="holder_name" jdbcType="VARCHAR" property="holderName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="net_asset_ratio" jdbcType="DOUBLE" property="netAssetRatio" />
    <result column="org_name_abbr" jdbcType="VARCHAR" property="orgNameAbbr" />
    <result column="buy_state" jdbcType="VARCHAR" property="buyState" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, parent_org_code, org_type, org_type_code, security_inner_code, free_shares_ratio,
    parent_org_code_old, parent_org_name, hold_market_cap, holder_code, total_shares,
    total_shares_ratio, report_date, holder_name, create_time, update_time, net_asset_ratio,
    org_name_abbr, buy_state
  </sql>

  <select id="selectByObject" parameterType="dzr.organization.entity.OrganizationDetailsHolder" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from organization_details_holder
    where 1=1
    <if test="code != null">
       and  code = #{code}
    </if>
    <if test="reportDate != null">
      and  report_date = #{reportDate}
    </if>
    <if test="holderName != null">
      and holder_name like concat('%',#{holderName},'%')
    </if>

  </select>

  <select id="selectByCodes" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from organization_details_holder
    where code in
    <foreach collection="list" item="code" separator="," open="(" close=")" index="">
      #{code}
    </foreach>
  </select>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into organization_details_holder
    (code, name, parent_org_code, org_type, org_type_code, security_inner_code, free_shares_ratio,
    parent_org_code_old, parent_org_name, hold_market_cap, holder_code, total_shares,
    total_shares_ratio, report_date, holder_name, net_asset_ratio,org_name_abbr, buy_state)
    values
    <foreach collection="list" item="holder" separator=",">
      (#{holder.code},#{holder.name},#{holder.parentOrgCode},#{holder.orgType},
      #{holder.orgTypeCode},#{holder.securityInnerCode},#{holder.freeSharesRatio},
      #{holder.parentOrgCodeOld},#{holder.parentOrgName},#{holder.holdMarketCap},
      #{holder.holderCode},#{holder.totalShares},#{holder.totalSharesRatio},
      #{holder.reportDate},#{holder.holderName},#{holder.netAssetRatio},
      #{holder.orgNameAbbr},#{holder.buyState})
    </foreach>
    on duplicate key update update_time = now()
  </insert>

</mapper>
