<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dzr.info.mapper.CompanyInfoMapper">
  <resultMap id="BaseResultMap" type="dzr.info.entity.CompanyInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="listing_date" jdbcType="TIMESTAMP" property="listingDate" />
    <result column="establishment_date" jdbcType="TIMESTAMP" property="establishmentDate" />
    <result column="issuance" jdbcType="VARCHAR" property="issuance" />
    <result column="issue_price" jdbcType="DOUBLE" property="issuePrice" />
    <result column="dongcai_industry" jdbcType="VARCHAR" property="dongcaiIndustry" />
    <result column="securities_industry" jdbcType="VARCHAR" property="securitiesIndustry" />
    <result column="legal_representative" jdbcType="VARCHAR" property="legalRepresentative" />
    <result column="chairman" jdbcType="VARCHAR" property="chairman" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="registered_capital" jdbcType="VARCHAR" property="registeredCapital" />
    <result column="employees" jdbcType="INTEGER" property="employees" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="dzr.info.entity.CompanyInfoWithBLOBs">
    <result column="company_profile" jdbcType="LONGVARCHAR" property="companyProfile" />
    <result column="business_scope" jdbcType="LONGVARCHAR" property="businessScope" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code,name, listing_date, establishment_date, issuance, issue_price, dongcai_industry,
    securities_industry, legal_representative, chairman, area, registered_capital, employees,
    create_time, update_time
  </sql>


  <select id="selectByCodes" parameterType="java.util.List" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    from company_info
    where code in
    <foreach collection="list" item="code" separator="," open="(" close=")" index="">
      #{code}
    </foreach>
  </select>

  <select id="selectOneByCode"  resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    from company_info
    where code = #{code}
  </select>

  <insert id="insert" parameterType="dzr.info.entity.CompanyInfo">
    insert into company_info
    (code, name, listing_date, establishment_date, issuance, issue_price, dongcai_industry,
    securities_industry, legal_representative, chairman, area, registered_capital, employees)
    values
      (#{code},#{name},#{listingDate},#{establishmentDate},
      #{issuance},#{issuePrice},#{dongcaiIndustry},#{securitiesIndustry},
      #{legalRepresentative},#{chairman},#{area},#{registeredCapital},
      #{employees})
    on duplicate key update update_time = now()
  </insert>

  <delete id="batchDelete" parameterType="java.util.List">
    delete from company_info where code in
    <foreach collection="list" item="tmp" separator="," open="(" close=")" index="">
      #{tmp.code}
    </foreach>
  </delete>

  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from company_info
  </select>
</mapper>
