<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dzr.info.mapper.ConceptStockMapper">
  <resultMap id="BaseResultMap" type="dzr.info.entity.ConceptStock">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="concept" jdbcType="VARCHAR" property="concept" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code,name, concept
  </sql>

  <insert id="batchInsert" parameterType="java.util.List">
    insert ignore into concept_stock
    (code,name, concept)
    values
    <foreach collection="list" item="tmp" separator=",">
      (#{tmp.code},#{tmp.name},#{tmp.concept})
    </foreach>
  </insert>

  <delete id="batchDelete" parameterType="java.util.List">
    delete from concept_stock where concept in
    <foreach collection="list" item="tmp" separator="," open="(" close=")" index="">
      #{tmp.code}
    </foreach>
  </delete>

  <select id="selectByCodes" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from concept_stock
    where concept in
    <foreach collection="list" item="code" separator="," open="(" close=")" index="">
      #{code}
    </foreach>
  </select>


  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from concept_stock
  </select>
</mapper>
