<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dzr.plate.mapper.GuBaMapper">
  <resultMap id="BaseResultMap" type="dzr.plate.entity.GuBa">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="rank_num" jdbcType="INTEGER" property="rankNum" />
    <result column="rank_num_date" jdbcType="TIMESTAMP" property="rankNumDate" />
    <result column="line_rank_num" jdbcType="INTEGER" property="lineRankNum" />
    <result column="line_rank_num_date" jdbcType="TIMESTAMP" property="lineRankNumDate" />
    <result column="yesterday_rank_num" jdbcType="INTEGER" property="yesterdayRankNum" />
    <result column="yesterday_rank_num_date" jdbcType="TIMESTAMP" property="yesterdayRankNumDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, rank_num, rank_num_date, line_rank_num, line_rank_num_date,
    yesterday_rank_num, yesterday_rank_num_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from guba
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="batchInsert" parameterType="java.util.List">
    insert ignore into guba
    (code, name, rank_num, rank_num_date, line_rank_num, line_rank_num_date,
    yesterday_rank_num, yesterday_rank_num_date)
    values
    <foreach collection="list" item="tran" separator=",">
      (#{tran.code},#{tran.name},#{tran.rankNum},#{tran.rankNumDate},#{tran.lineRankNum},#{tran.lineRankNumDate},#{tran.yesterdayRankNum},#{tran.yesterdayRankNumDate})
    </foreach>
  </insert>
</mapper>
