<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dzr.plate.mapper.PlateBlockMapper">
  <resultMap id="BaseResultMap" type="dzr.plate.entity.PlateBlock">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="plate_name" jdbcType="VARCHAR" property="plateName" />
    <result column="plate_code" jdbcType="VARCHAR" property="plateCode" />
    <result column="report_date" jdbcType="DATE" property="reportDate" />
    <result column="net_cap" jdbcType="DOUBLE" property="netCap" />
    <result column="pchg" jdbcType="DOUBLE" property="pchg" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="socket_type" jdbcType="VARCHAR" property="socketType" />
    <result column="plate_num" jdbcType="INTEGER" property="plateNum" />
    <result column="rocket_launch" jdbcType="INTEGER" property="rocketLaunch" />
    <result column="big_buy" jdbcType="INTEGER" property="bigBuy" />
    <result column="big_sales" jdbcType="INTEGER" property="bigSales" />
    <result column="rapid_rebound" jdbcType="INTEGER" property="rapidRebound" />
    <result column="buy_bid" jdbcType="INTEGER" property="buyBid" />
    <result column="sales_bid" jdbcType="INTEGER" property="salesBid" />
    <result column="high_diving" jdbcType="INTEGER" property="highDiving" />
    <result column="day_low_60" jdbcType="INTEGER" property="dayLow60" />
    <result column="sharp_rise_60" jdbcType="INTEGER" property="sharpRise60" />
    <result column="day_high_60" jdbcType="INTEGER" property="dayHigh60" />
    <result column="sharp_drop_60" jdbcType="INTEGER" property="sharpDrop60" />
    <result column="down_limit" jdbcType="INTEGER" property="downLimit" />
    <result column="high_limit" jdbcType="INTEGER" property="highLimit" />
    <result column="open_down_limit" jdbcType="INTEGER" property="openDownLimit" />
    <result column="open_high_limit" jdbcType="INTEGER" property="openHighLimit" />
    <result column="upward_notch" jdbcType="INTEGER" property="upwardNotch" />
    <result column="downward_notch" jdbcType="INTEGER" property="downwardNotch" />
    <result column="accelerate_decline" jdbcType="INTEGER" property="accelerateDecline" />
    <result column="palling_up" jdbcType="INTEGER" property="pallingUp" />
    <result column="palling_down" jdbcType="INTEGER" property="pallingDown" />
    <result column="low_opened_5" jdbcType="INTEGER" property="lowOpened5" />
    <result column="high_opened_5" jdbcType="INTEGER" property="highOpened5" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plate_name, plate_code, report_date, net_cap, pchg, code, name,socket_type, plate_num, rocket_launch,
    big_buy, big_sales, rapid_rebound, buy_bid, sales_bid, high_diving, day_low_60, sharp_rise_60,
    day_high_60, sharp_drop_60, down_limit, high_limit, open_down_limit, open_high_limit,
    upward_notch, downward_notch, accelerate_decline, palling_up, palling_down, low_opened_5,
    high_opened_5
  </sql>


  <insert id="batchInsert" parameterType="java.util.List">
    insert ignore into plate_block (plate_name, plate_code, report_date, net_cap, pchg, code, name,socket_type, plate_num, rocket_launch,
    big_buy, big_sales, rapid_rebound, buy_bid, sales_bid, high_diving, day_low_60, sharp_rise_60,
    day_high_60, sharp_drop_60, down_limit, high_limit, open_down_limit, open_high_limit,
    upward_notch, downward_notch, accelerate_decline, palling_up, palling_down, low_opened_5,
    high_opened_5
    )
    values
    <foreach collection="list" item="tmp" separator=",">
      (#{tmp.plateName},#{tmp.plateCode},#{tmp.reportDate},#{tmp.netCap},#{tmp.pchg},#{tmp.code},
      #{tmp.name},#{tmp.socketType},#{tmp.plateNum},#{tmp.rocketLaunch},#{tmp.bigBuy},#{tmp.bigSales},
      #{tmp.rapidRebound},#{tmp.buyBid},#{tmp.salesBid},#{tmp.highDiving},#{tmp.dayLow60}
      ,#{tmp.sharpRise60},#{tmp.dayHigh60},#{tmp.sharpDrop60},#{tmp.downLimit}
      ,#{tmp.highLimit},#{tmp.openDownLimit},#{tmp.openHighLimit},#{tmp.upwardNotch}
      ,#{tmp.downwardNotch},#{tmp.accelerateDecline},#{tmp.pallingUp},#{tmp.pallingDown}
      ,#{tmp.lowOpened5},#{tmp.highOpened5})
    </foreach>
  </insert>

  <delete id="batchDelete" parameterType="java.util.List">
    delete from plate_block where report_date in
    <foreach collection="list" item="tmp" separator="," open="(" close=")" index="">
      #{tmp.reportDate}
    </foreach>
  </delete>


  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from plate_block
  </select>

  <select id="selectBeforeAllByReportDate"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from plate_block
    where report_date > #{beforeDate}
  </select>


</mapper>
