<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dzr.transaction.mapper.CostMapper">
  <resultMap id="BaseResultMap" type="dzr.transaction.entity.Cost">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="dong_cai_industry" jdbcType="VARCHAR" property="dongCaiIndustry" />
    <result column="days1_zf_rate" jdbcType="DOUBLE" property="days1ZfRate" />
    <result column="days3_zf_rate" jdbcType="DOUBLE" property="days3ZfRate" />
    <result column="days5_zf_rate" jdbcType="DOUBLE" property="days5ZfRate" />
    <result column="days1_hands_rate" jdbcType="DOUBLE" property="days1HandsRate" />
    <result column="days3_hands_rate" jdbcType="DOUBLE" property="days3HandsRate" />
    <result column="days5_hands_rate" jdbcType="DOUBLE" property="days5HandsRate" />
    <result column="days1_price_rate" jdbcType="DOUBLE" property="days1PriceRate" />
    <result column="days3_price_rate" jdbcType="DOUBLE" property="days3PriceRate" />
    <result column="days5_price_rate" jdbcType="DOUBLE" property="days5PriceRate" />
    <result column="days10_price_rate" jdbcType="DOUBLE" property="days10PriceRate" />
    <result column="days30_price_rate" jdbcType="DOUBLE" property="days30PriceRate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name,dong_cai_industry,days1_zf_rate, days3_zf_rate, days5_zf_rate,
    days1_hands_rate,days3_hands_rate, days5_hands_rate,
     days1_price_rate,days3_price_rate, days5_price_rate, days10_price_rate, days30_price_rate
  </sql>

  <insert id="insert" parameterType="dzr.transaction.entity.Cost">
    insert IGNORE into statistics.cost
    (code, name,dong_cai_industry,days1_zf_rate, days3_zf_rate, days5_zf_rate,
    days1_hands_rate,days3_hands_rate, days5_hands_rate,
    days1_price_rate,days3_price_rate, days5_price_rate, days10_price_rate, days30_price_rate)
    values
      (#{code},#{name},#{dongCaiIndustry},#{days1ZfRate},#{days3ZfRate},#{days5ZfRate},
       #{days1HandsRate},#{days3HandsRate}, #{days5HandsRate},
       #{days1PriceRate},#{days3PriceRate},#{days5PriceRate},#{days10PriceRate},#{days30PriceRate})
  </insert>

  <delete id="delete" >
    delete from statistics.cost where code = #{code}
  </delete>

  <select id="selectByCodes" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from statistics.cost
    where code in
    <foreach collection="list" item="code" separator="," open="(" close=")" index="">
      #{code}
    </foreach>


  </select>

</mapper>
