<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dzr.transaction.mapper.SlideMapper">
  <resultMap id="BaseResultMap" type="dzr.transaction.entity.Slide">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="range" jdbcType="DOUBLE" property="range" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="step" jdbcType="INTEGER" property="step" />
    <result column="poll" jdbcType="INTEGER" property="poll" />
    <result column="inflow_funds" jdbcType="BIGINT" property="inflowFunds" />
    <result column="flow_market_change" jdbcType="BIGINT" property="flowMarketChange" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, start_date, end_date, `type`, `range`, days, step, poll, inflow_funds,flow_market_change
  </sql>


  <insert id="batchInsert" parameterType="java.util.List">
    insert IGNORE into statistics.slide
    (code, name, start_date, end_date, `type`, `range`, days, step, poll, inflow_funds,flow_market_change)
    values
    <foreach collection="list" item="tmp" separator=",">
      (#{tmp.code},#{tmp.name},#{tmp.startDate},#{tmp.endDate},#{tmp.type},#{tmp.range},#{tmp.days},
      #{tmp.step},#{tmp.poll},#{tmp.inflowFunds},#{tmp.flowMarketChange})
    </foreach>
  </insert>

  <delete id="batchDelete" parameterType="java.util.List">
    delete from statistics.slide where code in
    <foreach collection="list" item="tmp" separator="," open="(" close=")" index="">
      #{tmp.code}
    </foreach>
  </delete>


  <select id="selectByCodes" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from statistics.slide
    where code in
    <foreach collection="list" item="code" separator="," open="(" close=")" index="">
      #{code}
    </foreach>
  </select>

</mapper>
