<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dzr.transaction.mapper.TranDetailTXMapper">
  <resultMap id="BaseResultMap" type="dzr.transaction.entity.TranDetail">
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="report_date" jdbcType="DATE" property="reportDate" />
    <result column="tran_time" jdbcType="TIME" property="tranTime" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="change_price" jdbcType="DECIMAL" property="changePrice" />
    <result column="changed_hands" jdbcType="BIGINT" property="changedHands" />
    <result column="changed_price" jdbcType="DECIMAL" property="changedPrice" />
    <result column="nature" jdbcType="VARCHAR" property="nature" />
  </resultMap>
  <sql id="Base_Column_List">
    code, report_date, tran_time, price, change_price, changed_hands,
    changed_price, nature
  </sql>

  <insert id="batchInsert" parameterType="java.util.List">
    insert ignore into tran_detail_tx
    (code,report_date,tran_time,price,change_price,changed_hands,changed_price,nature)
    values
     <foreach collection="list" item="tran" separator=",">
        (#{tran.code},#{tran.reportDate},#{tran.tranTime},#{tran.price},#{tran.changePrice},#{tran.changedHands},#{tran.changedPrice},#{tran.nature})
     </foreach>
  </insert>


  <select id="selectByCode"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tran_detail_tx
    where code = #{code}
  </select>

  <select id="countByCodeAndReportDate"  resultType="java.lang.Integer">
    select
      count(*) as co
    from tran_detail_tx
    where code = #{code} and report_date = #{reportDate,jdbcType=DATE}
  </select>

  <select id="groupByCodeAndReportDate"  resultType="java.util.Date">
    select
      report_date
    from tran_detail_tx
    where code = #{code}
    group by report_date
  </select>


  <select id="selectByCodeAndReportDate"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tran_detail_tx
    where code = #{code} and report_date >= #{beforeDate}
  </select>

</mapper>
